<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Al Landing Page - Ad-Words</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../../assets/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="/components/index.html">
                <img class="ptglogo" src="/assets/images/ptglogo.png" width="80%" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-auto  mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Benefits</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Why People Tech</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Services
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="./image-data.html">Image Data</a></li>
                            <li>
                                <a class="dropdown-item" href="./speech-data-services.html">Speech Data
                                    Services</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="./text-data-services.html">Text Data
                                    Services</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="./video-data-services.html">Video Data
                                    Services</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="./maps-data-solutions.html">Maps Data
                                    solution</a>
                            </li>
                            <li><a class="dropdown-item" href="./ad-words.html">AdWords</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Process we Fellow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Industry use cases</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid p-0">
        <div class="banner-bg adbanner">
            <div class="container ">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="img-data-bannerSection">AdWords</h1>
                        <h3 class="banner-sec mb-5">
                            Go Faster for <br> network promotion
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <p class="my-5 paragraph-sec">AdWords is the service advertisers use for the online promotion of their
                content,
                brand,website, etc. The primary purpose of Ads annotation service is to get the right product for right
                customer and encourage
                them to buy the same. It ultimately boosts the online target market for your business. PeopleTech's
                customized
                ads offerings aligns with your specific business objectives while respecting user privacy and upholding
                high data security standards.</p>

            <h4 class="ad-sub-text"><strong> AdWords offerings</strong></h4>
            <p class="text-font paragraph-sec">With our best Ad Relevance feature, we help you appeal your messaging to
                your targeted
                audience and help you grow exceptionally to more and more niches of customers. For example, if you
                search for red party shoes and messaging will look like</p>
        </div>
        <div class="container">
            <div class="col-12">
                <img src="../../assets/images/add-words-offering.png" width="100%">
            </div>
        </div>

        <div class="container p-3">
            <p class="paragrap-size">Our <span class="theme-red">comparison annotation</span> tool gives your best
                pricing suggestion by comparing similar products online.
                Our Ad expert improves user engagement on your landing page by choosing the right keywords. It helps you
                maintain website accessibility and ROI of the marketplace. We make the ad promotional content simple and
                crispy so that people can easily understand the features and benefits of the product. We make Ad
                features eye-catchy to support ad modernization and follow AdPolicy compliance while running and
                campaign.</p>
            <div class="row mt-5">
                <div class="col-md-6">
                    <div class="addword-img mb-3">
                        <img src="../../assets/images/annotationImg11.png" width="100%">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="addword-img">
                        <img src="../../assets/images/annotationImg22.png" width="100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-0 m-0">
        <div class="grey-bg">
            <footer class="footer-end mt-5">
                <div class="container p-0">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-3">
                                    <h5 class="footer-services">Our Services:</h5>
                                    <ul class="footer-end">
                                        <li><a href="./image-data.html">Image Data Services</a></li>
                                        <li><a href="./text-data-services.html">Text Data Services</a></li>
                                        <li><a href="./video-data-services.html">Video Data Services</a></li>
                                        <li><a href="./maps-data-solutions.html">Maps Data solution</a></li>
                                        <li><a href="./ad-words.html">AdWords</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <h5 class="footer-services">Company :</h5>
                                    <ul class="footer-end">
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Client Stories</a></li>
                                        <li><a href="#">Careers</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <h5 class="footer-services">Contact Us :</h5>
                                    <ul class="footer-end">
                                        <li><a href="tel:+1 206-858-9902">USA: +1 206-858-9902</a></li>
                                        <li><a href="tel:+914041239999">INDIA: +914041239999</a></li>
                                        <li><a href="mailto:accesibility@peopletech.com">Mail:
                                                accesibility@peopletech.com</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <h5 class="footer-services">Fellow Us</h5>
                                    <img src="https://img.icons8.com/glyph-neue/64/000000/facebook-new.png"
                                        width="30px" />
                                    <img src="https://img.icons8.com/material-rounded/64/000000/linkedin--v1.png"
                                        width="30px" />
                                    <img src="https://img.icons8.com/glyph-neue/64/000000/twitter.png"
                                        width="30px" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 footer-end mt-2">
                            <button type="button" class="consult-btn">BOOK A CONSULT</button>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <p><span class="me-5"> Private Policy</span> &copy; 2022 to peopletechgroups</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>

</html>