<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Al Landing Page - Maps Data Solutions</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../../assets/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="/components/index.html">
                <img class="ptglogo" src="/assets/images/ptglogo.png" width="80%" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-auto  mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Benefits</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Why People Tech</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Services
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="./image-data.html">Image Data</a></li>
                            <li>
                                <a class="dropdown-item" href="./speech-data-services.html">Speech Data
                                    Services</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="./text-data-services.html">Text Data
                                    Services</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="./video-data-services.html">Video Data
                                    Services</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="./maps-data-solutions.html">Maps Data
                                    solution</a>
                            </li>
                            <li><a class="dropdown-item" href="./ad-words.html">AdWords</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Process we Fellow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Industry use cases</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid p-0">
        <div class="banner-bg mapbanner">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="img-data-bannerSection">Maps Data solution</h1>
                        <h3 class="banner-sec mb-5">
                            Explore complex <br> location-rich data sets
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <p class="paragraph-sec my-5">
                Map data is one of the proven processes for contextualizing broader enterprise datasets. With a
                foundation for geography-capable machine learning projects and live mapping applications, People
                Tech can be a one-stop solution to efficiently capture this expansive intelligence on an enterprise
                scale.
            </p>
        </div>
        <div class="container p-0">
            <div class="row">
                <div class="row m-0">
                    <h4 class="theme-red">Map Data Collection</h4>
                    <p class="paragraph-sec">End-to-end mapping help enterprises develop geography-rich data
                        infrastructure while fulfilling unique client-established parameters. Our experts turn static
                        images
                        of locations into multi-directional data that can be densely interwoven with broader data
                        assets.
                    </p>
                    <div class="mb-4">
                        <p class="paragraph-sec"><span><img src="../../assets/images/mark-img.svg" class="arrow-icon"
                                    alt="mark"></span> Our
                            specialist
                            thoroughly analyzes location-rich data ranging from interior maps to city transit guides</p>
                        <p class="paragraph-sec"><span><img src="../../assets/images/mark-img.svg" class="arrow-icon"
                                    alt="mark"></span>
                            Capable for
                            field measurement, scanning, and GPS work for original map generation</p>
                        <p class="paragraph-sec"><span><img src="../../assets/images/mark-img.svg" class="arrow-icon"
                                    alt="mark"></span>ML
                            experts
                            validate all information after capturing map data</p>
                        <p class="paragraph-sec"><span><img src="../../assets/images/mark-img.svg" class="arrow-icon"
                                    alt="mark"></span> Our
                            experts
                            are ready to help intake map data at any scale, at any level of complexity</p>
                    </div>
                    <img src="../../assets/images/mapsdata1.png" alt="">
                </div>
                <div class="row m-0 mt-5">
                    <h4 class="theme-red mt-3">Map Annotation & Labelling</h4>
                    <p class="paragraph-sec">Our annotation and labeling processes mine insight from raw maps, with
                        elite quality & densely integrated data for providing a location-rich foundation for other
                        enterprise applications. Our geography-savvy ML models analyze maps' subtlest characteristics to
                        manage large-scale projects.
                    </p>
                    <div class="mb-4">
                        <p class="paragraph-sec"><span><img src="../../assets/images/mark-img.svg" class="arrow-icon"
                                    alt="mark"></span>
                            Conceptualization of map using instructional designers, engineers, technical writers and
                            structure knowledge</p>
                        <p class="paragraph-sec"><span><img src="../../assets/images/mark-img.svg" class="arrow-icon"
                                    alt="mark"></span> Run
                            Background
                            research to verify geographic data, from web to phone, to in-the-field</p>
                        <p class="paragraph-sec"><span><img src="../../assets/images/mark-img.svg" class="arrow-icon"
                                    alt="mark"></span>Google
                            Maps API
                            and developed a web prototype that disseminates spatial information of different locations
                        </p>
                        <p class="paragraph-sec"><span><img src="../../assets/images/mark-img.svg" class="arrow-icon"
                                    alt="mark"></span>
                            Highlight
                            specific coordinates on the map and provide additional information</p>
                    </div>
                    <img src="../../assets/images/mapsat.png" alt="">
                </div>

                <div class="row my-5 m-0">
                    <h4 class="theme-red mt-3">Map Data Moderation</h4>
                    <p class="paragraph-sec">Smart automation and pre-built robust data pipeline templates enable
                        efficient handling of map -data even at a massive scale. We always ensure that user-submitted
                        locations and directions do not run afoul of content policies.
                    </p>
                    <div class="mb-4">
                        <p class="paragraph-sec"><span><img src="../../assets/images/mark-img.svg" class="arrow-icon"
                                    alt="mark"></span>
                            Thorough analysis including proximity, feature labeling, & logical inference from listed
                            features, and connections with broader data sets like location-tagged images</p>
                        <p class="paragraph-sec"><span><img src="../../assets/images/mark-img.svg" class="arrow-icon"
                                    alt="mark"></span> Real-time
                            curation capabilities supporting live mapping applications for various use-cases</p>
                        <p class="paragraph-sec"><span><img src="../../assets/images/mark-img.svg" class="arrow-icon"
                                    alt="mark"></span> End-to end
                            moderation on deep characteristics far beyond superficial categorization</p>
                    </div>
                    <img src="../../assets/images/mapdatmoderation.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="row p-0 m-0">
        <div class="grey-bg">
            <footer class="footer-end mt-5">
                <div class="container p-0">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-3">
                                    <h5 class="footer-services">Our Services:</h5>
                                    <ul class="footer-end">
                                        <li><a href="./image-data.html">Image Data Services</a></li>
                                        <li><a href="./text-data-services.html">Text Data Services</a></li>
                                        <li><a href="./video-data-services.html">Video Data Services</a></li>
                                        <li><a href="./maps-data-solutions.html">Maps Data solution</a></li>
                                        <li><a href="./ad-words.html">AdWords</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <h5 class="footer-services">Company :</h5>
                                    <ul class="footer-end">
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Client Stories</a></li>
                                        <li><a href="#">Careers</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <h5 class="footer-services">Contact Us :</h5>
                                    <ul class="footer-end">
                                        <li><a href="tel:+1 206-858-9902">USA: +1 206-858-9902</a></li>
                                        <li><a href="tel:+914041239999">INDIA: +914041239999</a></li>
                                        <li><a href="mailto:accesibility@peopletech.com">Mail:
                                                accesibility@peopletech.com</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <h5 class="footer-services">Fellow Us</h5>
                                    <img src="https://img.icons8.com/glyph-neue/64/000000/facebook-new.png"
                                        width="30px" />
                                    <img src="https://img.icons8.com/material-rounded/64/000000/linkedin--v1.png"
                                        width="30px" />
                                    <img src="https://img.icons8.com/glyph-neue/64/000000/twitter.png"
                                        width="30px" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 footer-end mt-2">
                            <button type="button" class="consult-btn">BOOK A CONSULT</button>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <p><span class="me-5"> Private Policy</span> &copy; 2022 to peopletechgroups</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>

</html>