<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Al Landing Page - Speech Data Services</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../../assets/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="/components/index.html">
                <img class="ptglogo" src="/assets/images/ptglogo.png" width="80%" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-auto  mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Benefits</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Why People Tech</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Services
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="./image-data.html">Image Data</a></li>
                            <li>
                                <a class="dropdown-item" href="./speech-data-services.html">Speech Data
                                    Services</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="./text-data-services.html">Text Data
                                    Services</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="./video-data-services.html">Video Data
                                    Services</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="./maps-data-solutions.html">Maps Data
                                    solution</a>
                            </li>
                            <li><a class="dropdown-item" href="./ad-words.html">AdWords</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Process we Fellow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Industry use cases</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid p-0">
        <div class="banner-bg speechdata-service mb-5">
            <div class="container ">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6 p-4 speechData">
                        <h1 class="img-data-bannerSection">Speech Data Solution</h1>
                        <h3 class="banner-sec mb-5">
                            Discover the intelligence <br> disguised in communication
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-12 mb-5 ">
                <p class="paragraph-sec">We provide speech data services in 60+ languages that enhance the value of any
                    speech data by mapping key characteristics ranging from sentiment to intent to the subject. Our
                    speech data capabilities can fulfill any audio requirement, from inside a car to a dinner party. We
                    target to leverage the deep experience and custom toolsets by ensuring a more efficient data
                    pipeline.</p>
            </div>
            <div class="row mb-5 light-bg">
                <div class="col-md-6">
                    <div class="text-center">
                        <img src="../../assets/images/speech-data-cln1.png" width="90%">
                    </div>
                </div>
                <div class="col-md-6 my-auto">
                    <h2 class="theme-red">Speech Data Collection</h2>
                    <p class="paragraph-sec mt-3 mb-4">As a speech data provider, we highlight all the possible ways in
                        which
                        your speech dataset can be customized, while also steering you towards the most effective and
                        price-conscious collection option for your solution.</p>
                    <p class="paragraph-sec"><span><img src="../../assets/images/mark-img.svg" class="arrow-icon"
                                alt="mark"></span>Our data collection process is tailored from Medical AI to Autonomous
                        vehicle.</p>
                    <p class="paragraph-sec"><span><img src="../../assets/images/mark-img.svg" class="arrow-icon"
                                alt="mark"></span>We support worldwide image collection indoors and outdoors, digital or
                        photographic.</p>
                    <p class="paragraph-sec"><span><img src="../../assets/images/mark-img.svg" class="arrow-icon"
                                alt="mark"></span>Ready to cover complex scenarios like concerts, sports & more.</p>
                </div>
            </div>

            <div class="row mb-5 light-bg">
                <div class="col-md-6 my-auto">
                    <h2 class="theme-red">Speech Translation Transcription & Transliteration</h2>
                    <p class="paragraph-sec mt-3 mb-4">Our linguists and other language specialists have relevant
                        expertise
                        in native languages that helps customize the process as per project requirements. We use custom
                        tools and quality assurance controls to make their customization process more innovative on a
                        global scale.</p>
                    <p class="paragraph-sec"><span><img src="../../assets/images/mark-img.svg" class="arrow-icon"
                                alt="mark"></span>Capable of doing manual speech-to-text service for 60+ languages</p>
                    <p class="paragraph-sec"><span><img src="../../assets/images/mark-img.svg" class="arrow-icon"
                                alt="mark"></span>Transliteration services are customized to meet your specific needs
                    </p>
                    <p class="paragraph-sec"><span><img src="../../assets/images/mark-img.svg" class="arrow-icon"
                                alt="mark"></span>Human-powered transcribing support for Indic, English, African and
                        other Asian Languages</p>
                    <p class="paragraph-sec"><span><img src="../../assets/images/mark-img.svg" class="arrow-icon"
                                alt="mark"></span>Our translation service is available for all sort of languages</p>
                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        <img src="../../assets/images/speech-translation3.png" width="90%">
                    </div>
                </div>
            </div>
            <div class="row mb-5 light-bg">
                <div class="col-md-6">
                    <div class="text-center speechAnnotation">
                        <img src="../../assets/images/speech-annptation-img1.png" width="90%">
                    </div>
                </div>
                <div class="col-md-6 my-auto">
                    <h2 class="theme-red">Speech Annotation/ Labelling</h2>
                    <p class="paragraph-sec mt-3 mb-4">We apply an intel-rich annotation process that can transform raw
                        conversations into superior quality data, ideal for training machine learning models. Our speech
                        annotation types are beyond the limit, from Sound Labeling to Event Tracking to over 15+ types.
                    </p>
                    <p class="paragraph-sec"><span><img src="../../assets/images/mark-img.svg" class="arrow-icon"
                                alt="mark"></span>Ability to annotate the verbal components of speech data and the
                        non-verbal aspects as well</p>
                    <p class="paragraph-sec"><span><img src="../../assets/images/mark-img.svg" class="arrow-icon"
                                alt="mark"></span>Best human-guided categorization and labeling of raw audio data</p>
                    <p class="paragraph-sec"><span><img src="../../assets/images/mark-img.svg" class="arrow-icon"
                                alt="mark"></span>Help client to understand what works for specific use cases to get the
                        best ROI</p>
                </div>
            </div>
            <div class="row mb-5 light-bg">
                <div class="col-md-6 my-auto">
                    <h2 class="theme-red">Speech Data Moderation</h2>
                    <p class="paragraph-sec mt-3 mb-4">Our speech data moderation services provide real-time data
                        quality
                        management in diverse enterprise settings. In addition, our moderators & linguistic experts
                        imply intelligently automation to make more nuanced judgment calls and meet defined regulations.
                    </p>
                    <p class="paragraph-sec"><span><img src="../../assets/images/mark-img.svg" class="arrow-icon"
                                alt="mark"></span>We have multilingual media monitoring expertise and experience.</p>
                    <p class="paragraph-sec"><span><img src="../../assets/images/mark-img.svg" class="arrow-icon"
                                alt="mark"></span>Intelligent automation combines with human analysts to reduce errors
                        while curating a bulk of speech data</p>
                    <p class="paragraph-sec"><span><img src="../../assets/images/mark-img.svg" class="arrow-icon"
                                alt="mark"></span>More focus on client-defined guidelines and organizational standards.
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        <img src="../../assets/images/speech-data-modernazation5.png" width="90%">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-0 m-0">
        <div class="grey-bg">
            <footer class="footer-end mt-5">
                <div class="container p-0">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-3">
                                    <h5 class="footer-services">Our Services:</h5>
                                    <ul class="footer-end">
                                        <li><a href="./image-data.html">Image Data Services</a></li>
                                        <li><a href="./text-data-services.html">Text Data Services</a></li>
                                        <li><a href="./video-data-services.html">Video Data Services</a></li>
                                        <li><a href="./maps-data-solutions.html">Maps Data solution</a></li>
                                        <li><a href="./ad-words.html">AdWords</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <h5 class="footer-services">Company :</h5>
                                    <ul class="footer-end">
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Client Stories</a></li>
                                        <li><a href="#">Careers</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <h5 class="footer-services">Contact Us :</h5>
                                    <ul class="footer-end">
                                        <li><a href="tel:+1 206-858-9902">USA: +1 206-858-9902</a></li>
                                        <li><a href="tel:+914041239999">INDIA: +914041239999</a></li>
                                        <li><a href="mailto:accesibility@peopletech.com">Mail:
                                                accesibility@peopletech.com</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <h5 class="footer-services">Fellow Us</h5>
                                    <img src="https://img.icons8.com/glyph-neue/64/000000/facebook-new.png"
                                        width="30px" />
                                    <img src="https://img.icons8.com/material-rounded/64/000000/linkedin--v1.png"
                                        width="30px" />
                                    <img src="https://img.icons8.com/glyph-neue/64/000000/twitter.png"
                                        width="30px" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 footer-end mt-2">
                            <button type="button" class="consult-btn">BOOK A CONSULT</button>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <p><span class="me-5"> Private Policy</span> &copy; 2022 to peopletechgroups</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>

</html>